:root{
    --primary-color: #a855f7;
}

 
body {
        font-family: Gilroy;
        font-variant-ligatures:none;
        margin: 0px;
        overflow-x:auto;
    }

/** containers **/
.container{
    padding:3rem;
}

.container-center{
    max-width: 900px;
    margin: auto;
}

.container-projects{
    max-width: 600px;
    margin:auto;
    text-align:center;
}
.container-blogs{
    max-width: 900px;
    margin:auto;
    text-align: center;
}

.container-left{
    margin: 1rem;
    float: left;
    text-align: center;
}
.container-right{
    margin: 1rem;
    float: right;
    text-align: center;
}
/** Links **/
.link
{
    text-decoration: none;
    padding:.3rem 2rem;
    color:white;
    font-weight: bold;
    border-radius: 1rem;
    border-radius: .3rem;
    margin: 2rem;
} 
.link-primary
{
    color:white;
    background-color:#a855f7;    
}
.link-secondary
{
    color:#a855f7;
    background-color: white;   
}
.link-blog
{
    text-decoration: none;
    color:black;
    font-weight: bold;
    text-align:right;
}
hr
{
    margin: 1.5rem 0rem;
}
.list-non-bullet
{
    list-style:none;    
}

.list-item-inline
{
    display: inline;
    padding: 0rem 0.5rem;
}
.link-active{
    color:white;
    background-color: black;
}

.mark
{
    font-size:1.5rem;
    display:inline;
    margin:1.5rem;
}
.mark-links{
    font-size:1rem;
    display:inline;
    margin:1.5rem;
    text-align:center;
}

/** navigation **/
.navigation{
    background-color:#a855f7;
    padding: .4rem;
    border-radius: 1rem;
    text-align:center;
}

.navigation .nav-brand{
    font-size:1.5rem;
    color: black;
}



.navigation .link{
    text-align:right;
    color:white;
}

.navigation .link-active{
    font-weight: bolder;
    background-color: black;
}

.navigation-projects{
    
    padding: .5rem;
    border-radius: .3rem;
}


/** Header **/

.hero{
    padding:2rem;
    text-align:center;
    font-size: 200%;
}

.image{
    height: 20%; width: 20%;
}
/** section **/
.section{
    padding-top:2rem;
    padding-bottom: 11rem;
}

 .ow{
    background-color:#E5E7EB;
    color:black;
 }
 .spacer
 {
    padding-block-end: 2rem;
 }
 .mark-color{
    color:white;
 }

 /** footer **/
.footer{
    color:white;
    text-align:center;
    font-weight: 600px;
    background-color: #a855f7;
    padding:2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.footer ul{
    padding-inline-start: 0px;
}